app-iframe-video {
  display: block;
  width: 1520px;
  height: 850px;
  background: #000;
  margin: 0;
  float: left;
}

app-selectplaylist{
  display: block;
  width: 380px;
  height: 65px;
  margin: 0;
  float: left;
}

app-selecttrack{
  display: block;
  width: 380px;
  height: 790px;
  background: #212121;
  margin: 0;
  float: left;
}
