button {
  float: right;
}
i{
  font-size: 30px;
}
form {
  display: block;
}
.form-field {
  width: 200px;
  margin: 20px;
}
.bottom{
  display: block;
  margin-top: 0px;
}
.mat-raised-button {
  min-width: 30px;
  margin-left: 10px;
}
