app-player {
  display: block;
  overflow: hidden;
}
app-playlists {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
span.header {
  margin-left: 10px;
}
.active {
  color: #c2185b;
}
.menuN {
  display: none;
}

@media only screen and (max-width: 900px) {
  span.header {
    display: none;
  }
  .menuN {
    display: block;
  }
  .menuW {
    display: none;
  }
}
