.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
span.header {
  margin-left: 10px;
}
.active {
  color: #b10d4e;
}
